<p id="notice"><%= notice %></p>

<%= render 'homes/navbar' %>

<h1>Homes</h1>

<div>
    <h1>Restaurant</h1>
    <div class="card" style="width: 18rem;">
        <% @restaurants.each do |restaurant| %>
        <% if restaurant.image.present? %>
          <%= image_tag(restaurant.image, style: 'width: 100px; height: 100px;') %>
        <% else %>
          <h3>No image available</h3>
        <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= restaurant.name %><</h5>
            <p class="card-text"><%= restaurant.description %></p>
            <a href="#" class="btn btn-primary">Check Food</a>
          </div>
        <% end %>
    </div>
</div>

<div>
    <h2>Crazy Foods</h2>
<div class="card" style="width: 18rem;">
    <% @foods.each do |food| %>
    <%# <img class="card-img-top" src="..." alt="Card image cap"> %>
  <div class="card-body">
    <h5 class="card-title"><%= food.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= food.description %></h6>

    <%# <%= link_to '+', _path, class: "btn btn-outline-danger btn-sm" %> 
    <%# <%= link_to '-', _path, class: "btn btn-outline-danger btn-sm" %> 
  </div>
   <% end %>
</div>
</div>
<br>
          