<p id="notice"><%= notice %></p>

<%= render 'homes/navbar', form_action: users_search_path %>
<%= link_to 'Check Out', users_cart_path, class: "btn btn-outline-danger btn-sm" %> 
    <h2 class="mt-3 mb-4 text-3xl font-bold text-blue-600">Restaurants near you</h2>

<div class="flex flex-row flex-wrap gap-5">
  <% @restaurants.each do |restaurant| %>
    <div class="overflow-hidden bg-white border border-gray-200 rounded-lg shadow-md w-64">
      <% if restaurant.image.present? %>
        <%= image_tag(restaurant.image, class: 'w-full h-48 object-cover') %>
      <% else %>
        <div class="w-full h-48 flex items-center justify-center bg-gray-200">
          <h3 class="text-gray-500">No image available</h3>
        </div>
      <% end %>
      <div class="p-4">
        <h5 class="text-lg font-semibold mb-2"><%= restaurant.name %></h5>
        <p class="text-gray-700 mb-4"><%= restaurant.description %></p>
        <%= link_to 'Check Food', users_restaurant_path(restaurant.id), class: "inline-block bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %> 
      </div>
    </div>
  <% end %>
</div>




    <h2 class="mt-10 mb-4 text-3xl font-bold text-blue-600">Crazy Foods</h2>
<div class="flex flex-row flex-wrap gap-5">
  <% @foods.each do |food| %>
    <div class="overflow-hidden bg-white border border-gray-200 rounded-lg shadow-md w-72">
      <% if food.image.present? %>
        <%= image_tag(food.image, class: 'w-full h-44 object-cover') %>
      <% else %>
        <div class="w-full h-44 flex items-center justify-center bg-gray-200">
          <h3 class="text-gray-500">No image available</h3>
        </div>
      <% end %>
      <div class="p-4">
        <h5 class="text-lg font-semibold mb-2"><%= food.name %></h5>
        <h6 class="text-gray-700 mb-4"><%= food.description %></h6>
        <div class="flex gap-4">
          <%= button_to '+', users_add_path(food_id: food.id), method: :post, class: 'bg-blue-500 text-white px-3 py-2 rounded hover:bg-blue-600' %>
          <%= button_to '-', users_remove_path(food_id: food.id), method: :post, class: 'bg-blue-500 text-white px-3 py-2 rounded hover:bg-blue-600' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<br>
          