<h1>Search Results</h1>

<h2>Restaurants</h2>
<% if @results && @results[:restaurants].any? %>
  <ul>
    <% @results[:restaurants].each do |restaurant| %>
      <li>
        <h3><%= restaurant.name %></h3>
        <% if restaurant.image.present? %>
          <p><%= image_tag(restaurant.image, style: 'width: 100px; height: 100px;' , alt: "#{restaurant.name} Logo") %></p>
        <% else %>
          <p>No logo available</p>
        <% end %>
        <%= link_to 'Check Food', users_restaurant_path(restaurant.id), class: "btn btn-primary" %> 
      </li>
    <% end %>
  </ul>

  <%= link_to 'View more', users_search_restaurant_path(q: params[:q]), class: "btn btn-outline-danger btn-sm" %> 
<% else %>
  <p>No restaurants found</p>
<% end %>

<h2>Foods</h2>
<% if @results && @results[:foods].any? %>
  <ul>
    <% @results[:foods].each do |food| %>
      <li>
        <h3><%= food.name %></h3>
        <% if food.image_url.present? %>
          <p><%= image_tag(food.image_url , style: 'width: 100px; height: 100px;', alt: "#{food.name} Image") %></p>
        <% else %>
          <p>No image available</p>
        <% end %>
        <p>Price: <%= food.price %></p>
      </li>
    <% end %>
  </ul>

    <%= link_to 'View more', users_search_food_path(q: params[:q]), class: "btn btn-outline-danger btn-sm" %> 
<% else %>
  <p>No foods found</p>
<% end %>
