  <h1 class="text-4xl font-bold text-center text-blue-600 mb-8">Search Results</h1>
<%= link_to 'Home', root_path(), class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
  <div class="mb-8">
    <h2 class="text-2xl font-semibold text-gray-800 mb-4 mt-4">Foods</h2>
    <% if @food_results.any? %>
      <ul class="space-y-4">
        <% @food_results.each do |food| %>
          <li class="bg-white border border-gray-200 rounded-lg shadow-md p-4">
            <h3 class="text-xl font-semibold text-gray-900 mb-2"><%= food["name"] %></h3>
            <% if food["image_url"].present? %>
              <div class="mb-4">
         <%= image_tag foods["image_url"], class: 'w-24 h-24 rounded-full mr-4 object-cover' %>
              </div>
            <% else %>
               <%= image_tag 'default_food_img.jpg', class: 'w-24 h-24 rounded-full mr-4 object-cover'%>
            <% end %>
          <div class="flex gap-4">
          <%= button_to '+', users_add_path(food_id: food["id"]), method: :post, class: 'bg-blue-500 text-white px-3 py-2 rounded hover:bg-blue-600' %>
          <%= button_to '-', users_remove_path(food_id: food["id"]), method: :post, class: 'bg-blue-500 text-white px-3 py-2 rounded hover:bg-blue-600' %>
        </div>
          </li>
        <% end %>
      </ul>

      <div class="flex justify-between mt-5">
  <% if @page > 1 %>
    <%= link_to 'Previous', users_search_food_path(page: @page - 1,  page_size: 10, q: params[:q]), class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
  <% end %>
    <%= link_to 'Next', users_search_food_path(page: @page + 1, page_size: 10, q: params[:q]), class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
</div>
    <% else %>
      <p class="text-gray-500">No food found</p>
    <% end %>
  </div>
